*, *::before, *::after{
    margin: 0;
    padding: 0;

    box-sizing: border-box;
}

html {
    font-size: 16px;
    font-size: 2.5vh;
}

body {
    /*min-width: 400px;*/
    font-family: sans-serif;
}

#container {
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 3rem;
}

main {
    /*min-height: 80vh;*/
    /*min-width: 650px;*/
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main > img{
    height: 250px;
    width: 250px;
    object-fit: cover;
    border-radius: 20px;
    padding: 10px 0px;
}

a{
    text-decoration: none;
    color: black;
}

h1,h2{
    font-family: cursive;
}