*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-width: 400px;
}

#container{
    height: 100vh;
    position: relative;
}

main{
    min-height: 80vh;
    min-width: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a{
    text-decoration: none;
    color: black;
}

main > h2 {
    padding: 10px 0px;
}

form {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;

    border: 2px solid black;
    box-shadow: 5px 8px 15px black;
}

form > div {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

main > form > div:nth-child(3){
    display: flex;
    flex-direction: row;
}

input {
    width: 250px;
    height: 30px;
    border-radius: 10px;
}

label {
    font-size: 20px;
    text-align: center;
}

button {
    width: 100px;
    margin: 0px 15px;
}