@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
header{
    min-width: 650px;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 30px 20px;
    background-image: radial-gradient(circle at 50% -20.71%, #ade5ff 0, #7dcefb 25%, #3cb5f2 50%, #009ce9 75%, #0085e0 100%);
}

img{
    object-fit: cover;
}

#container > header > div:nth-child(1) > img{
    width: 40px;
    height: 40px;
}

header > div:nth-child(1){
    font-size: 35px;
    font-family: 'Press Start 2P', cursive;
}

header > div:nth-child(2){
    display: flex;
    padding: 0px 25px;
}

header > div:nth-child(2) > a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 0px 15px;
}

header > a{
    font-family:cursive;
}
